In [1]:
import pandas as pd
import numpy as np

In [3]:
dfp = {'a': [2,4,6,8,10], 'b': [10,10,10,10,10], 'C': [2,8,16,32,50]}
df=pd.DataFrame(dfp)

In [8]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
a    5 non-null int64
b    5 non-null int64
C    5 non-null int64
dtypes: int64(3)
memory usage: 200.0 bytes

    a   b   C
0   2  10   2
1   4  10   8
2   6  10  16
3   8  10  32
4  10  10  50

In [5]:
d = df['a'].div(df['b'])

In [6]:
d

0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
dtype: float64