In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/users/richardkornblith/Data_Science/NYCHR/Data_for_NYCHR/Temp_Manhattan_COOs_csv.csv',parse_dates=['C_O_ISSUE_DATE'] )

In [9]:
# df.info()

In [4]:
filtered_df = df[df['CENSUS_TRACT'].notnull()]
filtered_df['CENSUS_TRACT'] = filtered_df['CENSUS_TRACT'].apply(int)
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22756 entries, 0 to 22776
Data columns (total 19 columns):
JOB_NUMBER                22756 non-null int64
JOB_TYPE                  22756 non-null object
C_O_ISSUE_DATE            22756 non-null datetime64[ns]
BIN_NUMBER                22756 non-null int64
BOROUGH                   22756 non-null object
NUMBER                    22756 non-null object
STREET                    22756 non-null object
POSTCODE                  22756 non-null int64
PR_DWELLING_UNIT          13719 non-null float64
EX_DWELLING_UNIT          8511 non-null float64
APPLICATION_STATUS_RAW    22756 non-null object
FILING_STATUS_RAW         22756 non-null object
ITEM_NUMBER               22756 non-null int64
ISSUE_TYPE                22756 non-null object
LATITUDE                  22756 non-null float64
LONGITUDE                 22756 non-null float64
CENSUS_TRACT              22756 non-null int64
NTA                       22756 non-null object
LOCATION                  22756 non-null object
dtypes: datetime64[ns](1), float64(4), int64(5), object(9)
memory usage: 3.5+ MB

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
fd = filtered_df.drop(labels=['BOROUGH','POSTCODE','APPLICATION_STATUS_RAW','FILING_STATUS_RAW','ITEM_NUMBER'], axis=1)
fd.head()

,JOB_NUMBER,JOB_TYPE,BIN_NUMBER,NUMBER,STREET,PR_DWELLING_UNIT,EX_DWELLING_UNIT,ISSUE_TYPE,LATITUDE,LONGITUDE,CENSUS_TRACT,NTA,LOCATION
C_O_ISSUE_DATE,,,,,,,,,,,,,
2018-11-26,121324236,A1,1005894,150,1 AVENUE,0.0,0.0,Temporary,40.728261,-73.984785,34,East Village,"(40.728261, -73.984785)"
2018-08-28,121324236,A1,1005894,150,1 AVENUE,0.0,0.0,Temporary,40.728261,-73.984785,34,East Village,"(40.728261, -73.984785)"
2018-10-19,120938085,A1,1082875,252,1 AVENUE,300.0,300.0,Temporary,40.731903,-73.982013,44,Stuyvesant Town-Cooper Village,"(40.731903, -73.982013)"
2018-05-16,120938085,A1,1082875,252,1 AVENUE,300.0,300.0,Temporary,40.731903,-73.982013,44,Stuyvesant Town-Cooper Village,"(40.731903, -73.982013)"
2018-01-12,120938085,A1,1082875,252,1 AVENUE,300.0,300.0,Temporary,40.731903,-73.982013,44,Stuyvesant Town-Cooper Village,"(40.731903, -73.982013)"

In [48]:
n=test[13]
n

C_O_ISSUE_DATE
2016-12-31    70
2017-12-31    87
2018-12-31    77
2019-12-31    13
Name: ISSUE_TYPE, dtype: int64